body{
    margin: 0;
}
#fondo{
    width:400px;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -20;
}
#principal{
    width: 500px;
    color:rgb(255, 255, 255);
    text-align: center;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
#principal h1{
    font-family: "Londrina Shadow", sans-serif;
    font-size: 60px;
}
.sombra {
    font-size: 20px;
    color: rgb(27, 24, 21);
    padding: 20px;
    text-shadow: 2px 2px 2px rgb(197, 54, 54);
    background: rgb(201, 178, 178);
    font-family: "Schibsted Grotesk", sans-serif;
}
#menu{
    display:flex;
    justify-content: center;
    background-color:rgb(104, 96, 96);
    font-family: "Archivo Black", sans-serif;
    margin: 0;
    padding: 0;
}
#menu li{
 list-style-type: none;
 margin:10px;

}
#menu li a{
 text-decoration: none;
 padding:5px;
 color: white;
 font-size: 20px;
 font-weight: bold;
 display: inline-block;

}
#menu li a:hover{
    color: rgb(255, 255, 255);
    transition: 0.2s;
    transform: scale(1.3);
}
#redes a{
    display: flex;
    display: inline-block;
}
#redes img{
    width: 50px;
    height: 50px;  
}

main{
    width:100%;
    height: auto;
}
h1{text-align: center;}
#imagen_blog{    
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
}
#imagen_blog img{
    max-width: 100%;
}

header{
    position:sticky;
    top:0;
    background-color: rgb(233, 183, 174);
    font-family: "Londrina Shadow", sans-serif;
    color: white;
    font-size: 20px;
}
header h1{
    margin: 0;
    padding-top: 15px;
}
#logo{
    float:right;
    padding:10px;
    max-width: 50%;
    height: auto;
}
article img{
    max-width: 100%;
    height: auto;
}
article h3{
    font-family: "Archivo Black", sans-serif;
    font-size: 25px;
    color: rgb(170, 182, 221);
}
section article p{
    font-family: "Schibsted Grotesk", sans-serif;
    color: beige;
}
section article{
    padding: 15px;
    margin: 5px;
}
section{
    background-color:rgb(125, 168, 168);
}
footer{
    font-family: "Schibsted Grotesk", sans-serif;
    background-color: rgb(241, 176, 164);
    padding: 20px;
    margin: 0;
    font-weight: bold;
}
#galeria{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
figure{
    padding:20px;
    text-align: center;
}
figure img{
    width:400px;
    box-shadow: 8px 9px 1px rgb(255, 255, 255);
}
figcaption{
    padding:10px;
    font-size: 30px;
    color:rgb(255, 255, 255);
    font-family: "Edu VIC WA NT Beginner";
}
#youtube, footer{
    text-align: center;
}
#youtube p{
    font-family: "Schibsted Grotesk", sans-serif;
    color: beige;
    text-align: left;
    padding: 20px;
}
#youtube h1{
    margin: 0;
    padding-top: 30px;
    font-family: "Archivo Black", sans-serif;
    font-size: 30px;
}
